__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
private/
user_uploads/
*.psd
*.ai
*.mov
*.wav
*.mp3
*.mp4
!examples/**
.DS_Store
Thumbs.db
.vscode/
.idea/
tmppytest/
